.vscode
.vscode/
.idea
.idea/
.DS_Store
**/.DS_Store
web/node_modules/
web/node_modules/*
web/node_modules

app/**/api/etc/*.pro.yaml
app/**/rpc/etc/*.pro.yaml
app/**/api/etc/*.test.yaml
app/**/rpc/etc/*.test.yaml

cronJobs/etc/*.test.yaml
cronJobs/etc/*.pro.yaml